version: "3"
services:
  deep-look-server:
    container_name: deep-look-server
    image: tmfrk0426/deep-look-server:latest
    env_file:
      - "./.env"
    hostname : deep-look-server
    expose:
      - "8080"
    restart: always

  nginx:
    depends_on:
      - deep-look-server
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "80:80"